
.aider*

# Docker
.env
docker-compose.override.yml
postgres_data/
redis_data/

# Backend
/backend/__pycache__/
/backend/*.pyc
/backend/db.sqlite3
/backend/staticfiles/
/backend/media/
.env

# Frontend
/frontend/node_modules
/frontend/dist

backend/build/
